/* CSS Document */

input.dmxValidator-invalid,
select.dmxValidator-invalid,
textarea.dmxValidator-invalid {
	border-color: #C80000;
	outline: none;
	border-style:solid;
	border-width: 1px;
}
input.dmxValidator-invalid:focus,
select.dmxValidator-invalid:focus,
textarea.dmxValidator-invalid:focus {
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

input.dmxValidator-valid,
select.dmxValidator-valid,
textarea.dmxValidator-valid {
	border-color: #3c763d;
	outline: none;
	border-style:solid;
	border-width: 1px;
}
input.dmxValidator-valid:focus,
select.dmxValidator-valid:focus,
textarea.dmxValidator-valid:focus {
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #67b168;
}
span.dmxValidator-error {
	color: #C80000;
	padding-left: 5px;
}
